
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0 auto;
}

img {
  height: 200px;
  width: auto;
}

button {
  border-radius: 20px;
  border-width: 5px;
}

div {
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 200px;
  align-items: center;
  margin: auto;
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.game {
  display: flex;
  justify-content: space-evenly;
}

.score-and-play{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.playerScore,
.scoreDash,
.computerScore {
  height: 50px;
  width: 60px;
  text-align: center;
  font-size: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-content: center;
}

.score {
  display: flex;
  justify-content: center;
}

.play {
  height: 30px;
  width: 100px;
  align-self: center;
}

.player,
.computer {
  height: 200px;
  width: 200px;
  margin: 30px;
}

.choiceButtons {
  display: flex;
  justify-content: space-evenly;
}

#rock,
#paper,
#scissors {
  height: 50px;
  width: 100px;
  margin: 30px;
}

.announcment {
  margin-top: 50px;
  width: 100px;
  text-align: center;
  height: 30px;
}